/.dbeaver/

# Created by https://www.gitignore.io/api/dbeaver
# Edit at https://www.gitignore.io/?templates=dbeaver

### DBeaver ###
# ide config file
.dbeaver-data-sources*.xml

# End of https://www.gitignore.io/api/dbeaver