<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ko.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="bNo">
		INSERT INTO daedong.board
		(g_no, b_place, b_title, b_hash, b_contents, b_writetime, b_delete, b_flat, b_good)
		VALUES(#{bGNo.gNo}, #{bPlace}, #{bTitle},#{bHash},#{bContents}, now(), 0, 0, 0);
		
	</insert>
	<resultMap type="Board" id="BoardBasic">
		<result property="bNo" column="b_no" />
		<result property="mNo" column="m_no" />
		<result property="bPlace" column="b_place" />
		<result property="bTitle" column="b_title" />
		<result property="bHash" column="b_hash" />
		<result property="bContents" column="b_contents" />
		<result property="bWritetime" column="b_writetime" />
		<result property="bDelete" column="b_delete" />
		<result property="bFlag" column="b_flat" />
		<result property="bGood" column="b_good" />
		<association property="bGNo" resultMap="com.ko.mapper.GuestMapper.GuestBasic"></association>
	</resultMap>
	
	<resultMap type="Board" id="BoardDetail" extends="BoardBasic">
		
		<collection property="contents" resultMap="com.ko.mapper.ContentMapper.contentBasic"/>
		<collection property="replys" resultMap="com.ko.mapper.ReplyMapper.ReplyBasic"/>
	</resultMap>
	
	
	<select id="selectByBNo" resultMap="BoardDetail">
		select b.b_no, b.g_no, b.m_no, b_title, b_place, b_hash, b_contents, b_writetime, b_delete, b_flat, b_good,
			c.c_no, c.c_contents, c.c_image,
			g.g_name, g.g_id, g.g_image
		FROM daedong.board b
		join content c
			on b.b_no =  c.b_no
		join guest g
			on b.g_no = g.g_no
		where b.b_no = #{bNo}
	</select>
	
	<select id="selectAll" resultType="Board" resultMap="BoardDetail">
		select b.b_no, g_no, m_no, b_title, b_place, b_hash, b_contents, b_writetime, b_delete, b_flat, b_good, c_no, c_contents, c_image
		from board b
		left join content c
		on c.b_no = b.b_no
	</select>
	<!-- <select id="selectLimit10" resultType="Board" resultMap="BoardDetail">
		select b.b_no, g_no, m_no, b_title, b_place, b_hash, b_contents, b_writetime, b_delete, b_flat, b_good, c_no, c_contents, c_image
		from (select * from board order by b_no desc limit #{i},10) as b left join content c on c.b_no = b.b_no;
	</select> -->
	
	<sql id="search">
		<if test="searchType=='all'.toString()">
			where b_place like CONCAT('%',#{keyword},'%') 
			OR b_title like CONCAT('%',#{keyword},'%') 
			OR b_contents like CONCAT('%',#{keyword},'%') 
			OR g.g_id like CONCAT('%',#{keyword},'%') 
			OR b_hash like CONCAT('%',#{keyword},'%') 
		</if>
		<if test="searchType=='area'.toString()">
			where b_place like CONCAT('%',#{keyword},'%') 
		</if>
		<if test="searchType=='title'.toString()">
			where b_title like CONCAT('%',#{keyword},'%') 
		</if>
		<if test="searchType=='contents'.toString()">
			where b_contents like CONCAT('%',#{keyword},'%') 
		</if>
		<if test="searchType=='friend'.toString()">
			where g.g_id like CONCAT('%',#{keyword},'%') 
		</if>
		<if test="searchType=='hash'.toString()">
			where b_hash like CONCAT('%',#{keyword},'%') 
		</if>
	</sql>
	
	
	<select id="selectLimit10" resultType="Board" resultMap="BoardDetail">
		select b.b_no, b.g_no, b.m_no, b_title, b_place, b_hash, b_contents, b_writetime, b_delete, b_flat, b_good,
			c.c_no, c.c_contents, c.c_image,
			g.g_name, g.g_id, g.g_image
		from (select * from board order by b_no desc limit #{pageStart},#{perPageNum}) as b
		left join content c
			on c.b_no = b.b_no
		left join guest g
			on g.g_no = b.g_no
		<include refid="search"></include> 
		order by b.b_no desc;
	</select>
	
	
	
	<select id="selectBygNoLimit24" resultType="Board" resultMap="BoardDetail">
		select b.b_no, b.g_no, b.m_no, b_title, b_place, b_hash, b_contents, b_writetime, b_delete, b_flat, b_good,
			c.c_no, c.c_contents, c.c_image
		from (select * from board order by b_no desc limit #{page},24) as b
		left join content c
			on c.b_no = b.b_no
			where g_no=#{gNo}
		order by b.b_no desc;
	</select>
	
	
	
	<select id="selectBygNoBoardCount" resultType="int">
		select count(b_no) from board where g_no = #{gNo}
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE daedong.board
		SET g_no=#{bGNo.gNo}<!-- , m_no=#{mNo} -->, b_title=#{bTitle}, b_place=#{bPlace}, b_hash=#{bHash}, b_contents=#{bContents}, b_writetime=#{bWritetime}, b_delete=#{bDelete}, b_flat=#{bFlag}, b_good=#{bGood}
		WHERE b_no=#{bNo};
	</update>
	
	
	<select id="selectActivityLimit10" resultType="Board">
	<if test="cri.searchType=='All'.toString()">
		select b_no b_flag, b_no, b_title, b_writetime, 'b' b_contents FROM board where g_no=#{gNo}
			union
		select l.l_no b_flag, b.b_no, b.b_title b_title, l.l_date b_writetime, 'l' b_contents
			from `like` l
			join board b
			on l.b_no = b.b_no
			where l.g_no=#{gNo}
			union
		select r.r_no b_flag, b.b_no, b.b_title b_title, r.r_writetime b_writetime, 'r' b_contents
			from reply r
			join board b
			on r.b_no = b.b_no
			where r.g_no=#{gNo}
			union
		select f.f_no b_flag, f.g_follower b_no, g.g_id b_title, f.f_date b_writetime, f.f_read b_contents
			from friend f
			join guest g
				on g.g_no=f.g_follower
			where g_follow=#{gNo}
	</if>
	<if test="cri.searchType=='게시판'.toString()">
		select b_no b_flag, b_no, b_title, b_writetime, 'b' b_contents FROM board where g_no=#{gNo}
	</if>
	<if test="cri.searchType=='좋아요'.toString()">
		select l.l_no b_flag, b.b_no, b.b_title b_title, l.l_date b_writetime, 'l' b_contents
			from `like` l
			join board b
			on l.b_no = b.b_no
			where l.g_no=#{gNo}
	</if>
	<if test="cri.searchType=='댓글'.toString()">
		select r.r_no b_flag, b.b_no, b.b_title b_title, r.r_writetime b_writetime, 'r' b_contents
			from reply r
			join board b
			on r.b_no = b.b_no
			where r.g_no=#{gNo}
	</if>
	<if test="cri.searchType=='친구'.toString()">
		select f.f_no b_flag, f.g_follower b_no, g.g_id b_title, f.f_date b_writetime, f.f_read b_contents
			from friend f
			join guest g
				on g.g_no=f.g_follower
			where g_follow=#{gNo}
	</if>
			order by b_writetime desc
			limit #{cri.pageStart},#{cri.perPageNum}
	
	</select>
	<select id="selectActivityCount" resultType="Board" parameterType="int">
		select count(b_no) b_no,'b' b_contents FROM board where g_no=#{gNo}
			union
		select count(l.l_no),'l'
			from `like` l
			join board b
			on l.b_no = b.b_no
			where l.g_no=#{gNo}
			union
		select count(r.r_no),'r'
			from reply r
			join board b
			on r.b_no = b.b_no
			where r.g_no=#{gNo}
			union
		select count(f.f_no),f.f_read 
		from friend f where g_follow=#{gNo};
	</select>
</mapper>