<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ko.mapper.ReplyMapper">

	<resultMap type="Reply" id="ReplyBasic">
		<result property="rNo" column="r_no" />
		<result property="rContent" column="r_content" />
		<result property="rWritetime" column="r_writetime" />
		<result property="rDelete" column="r_delete" />
		<result property="rGood" column="r_good" />
		<result property="rRead" column="r_read" />
	</resultMap>
	
	<resultMap type="Reply" id="ReplyDetail" extends="ReplyBasic">
		<association property="rBNo" resultMap="com.ko.mapper.BoardMapper.BoardBasic"/>
		<association property="rGNo" resultMap="com.ko.mapper.GuestMapper.GuestBasic" />
	</resultMap>

	<insert id="insertReply" parameterType="Reply">
		INSERT INTO daedong.reply
		(b_no, g_no, m_no, r_content, r_writetime, r_delete, r_good)
		VALUES(#{rBNo.bNo}, #{rGNo.gNo}, #{rMNo.mNo}, #{rContent}, now(), 0, 0);
	</insert>
	
	<select id="selectBoardLimit5" resultMap="ReplyDetail">
		SELECT r_no, b_no, r.g_no, m_no, r_content, r_writetime, r_delete, r_good, r.g_no, g_name, g_id, g_image
		FROM reply r
		join guest g
		on g.g_no=r.g_no
		where b_no=#{bNo}
		order by r_no desc
		limit 0,5;
	</select>
	
	<select id="selectReplyCount" resultType="int">
		select count(r_no)
		FROM reply r
		where b_no=#{bNo}
	</select>
	
	<select id="selectPageByBNoPage" resultMap="ReplyDetail">
		select r_no, b_no, r.g_no, m_no, r_content, r_writetime, r_delete, r_good, r.g_no, g_name, g_id, g_image 
		from reply r 
		join guest g
		on g.g_no = r.g_no
		where b_no = #{bNo}
		order by r_no desc
		limit #{cri.pageStart},#{cri.perPageNum}
	</select>
	
	
	<select id="selectBoardAlarmLimit10" resultMap="ReplyDetail">
		select r.r_no, r.b_no, b.b_title, r.r_writetime, r.g_no, g.g_id, g.g_image, r.r_read, 'r' r_content from reply r
			join board b
				on r.b_no = b.b_no
			join guest g
				on r.g_no = g.g_no
			where b.g_no=#{gNo} and b.g_no!=r.g_no and (r.r_read=0 or r.r_read=1)
		union
		select l.l_no, l.b_no, b.b_title, l.l_date, l.g_no, g.g_id, g.g_image, l.l_read, 'l' r_content from `like` l
			join board b
				on l.b_no = b.b_no
			join guest g
				on l.g_no = g.g_no
			where b.g_no=#{gNo} and b.g_no!=l.g_no and (l.l_read=0 or l.l_read=1)
		order by r_writetime desc
		limit #{cri.pageStart},#{cri.perPageNum};
	</select>
	
<!-- 중복된 내용은 mybatis가 알아서 primary로 정해서 제외하고 select함 -->
	<select id="selectBoardAlarmCount" resultMap="ReplyDetail">
	select count(r.r_no) r_no,'r'
		from reply r
		join board b
			on r.b_no = b.b_no
		join guest g
			on r.g_no = g.g_no
		where b.g_no=#{gNo} and b.g_no!=r.g_no and r.r_read=0
	union
	select count(l.l_no) r_no,'l'
		from `like` l
		join board b
			on l.b_no = b.b_no
		join guest g
			on l.g_no = g.g_no
		where b.g_no=#{gNo} and b.g_no!=l.g_no and l.l_read=0
	</select>
	
	
	<select id="updateReplyRead">
		UPDATE reply
		SET r_read=#{read}
		WHERE r_no=#{rNo};
	</select>
	
	<select id="selectByRNoOrderBNo" resultType="int">
	<![CDATA[
		select COUNT(*) 
		from reply r
		where r.b_no=#{bNo} and r.r_no >= #{rNo}
	]]>
	</select>


</mapper>